<div class="row-holder">
  <div class="individual-small-card score-<%= range %>">
    <div class="content">
      <div>
        <img src=<%= picture %> class="individual-small-card-avatar">
      </div>
      <div class="name-and-position">
        <div class="name">
          <%= name %>
        </div>
        <div class="position">
          <%= position %>
        </div>
      </div>
      <div class="score">
        <%= score %>%
      </div>
    </div>
  </div>
</div>
