<div class="panel panel-default">
  <%= render 'reports/shared/panel_heading', id: "individual-support-crew", title: "SUPPORT CREW", explanation: "These are the <b>people that are there to help</b> you achieve the best of yourself, advising you to ensure a sustainable work experience. Make the best of their support by having one-on-one discussions with each of them on a regular basis!" %>
</div>


<div class="row">


  <div class="col-lg-3 col-md-6">

  <%= render 'shared/personbox', person_name: "John Smith", person_role: "Manager", person_picture: "http://364daysofthanksgiving.com/wp-content/uploads/2016/05/smile-1.jpg", person_mail: "thomas@test.be", time_since_last_meeting: "1 week", time_since_last_meeting_range: "good", explanation: "Ideal 1:1 frequencies are: weekly with your Manager, monthly with your buddy, every 3 months with your mentor, and every 2 months with yoru Talent Manager." %>
  </div>

  <div class="col-lg-3 col-md-6">

    <%= render 'shared/personbox', person_name: "Phil Feelgood", person_role: "Buddy", person_picture: "http://zt-four.zoodemo.com/images/article/mark3.jpg", person_mail: "thomas@test.be", time_since_last_meeting: "5 months", time_since_last_meeting_range: "danger", explanation: "Ideal 1:1 frequencies are: weekly with your Manager, monthly with your buddy, every 3 months with your mentor, and every 2 months with yoru Talent Manager." %>
  </div>

  <div class="col-lg-3 col-md-6">

    <%= render 'shared/personbox', person_name: "Carla McPherson", person_role: "Mentor", person_picture: "http://images.takungpao.com/2015/0716/20150716051112504.jpg", person_mail: "thomas@test.be", time_since_last_meeting: "2 months", time_since_last_meeting_range: "great", explanation: "Ideal 1:1 frequencies are: weekly with your Manager, monthly with your buddy, every 3 months with your mentor, and every 2 months with yoru Talent Manager." %>
  </div>
  <div class="col-lg-3 col-md-6">

    <%= render 'shared/personbox', person_name: "Maria Jones", person_role: "Talent Manager", person_picture: "http://youne.com/wp-content/uploads/2013/10/smile-seductive.jpg", person_mail: "thomas@test.be", time_since_last_meeting: "1 month", time_since_last_meeting_range: "good", explanation: "Ideal 1:1 frequencies are: weekly with your Manager, monthly with your buddy, every 3 months with your mentor, and every 2 months with yoru Talent Manager." %>
  </div>
</div>
