<div class="row">
  <div class="col-lg-10 col-md-8">
    <div class="page-header">
      <h1><%= @agent.name %> <small>Associate Consultant, Team XYZ</small></h1>
    </div>
  </div>
  <div class="col-lg-2 col-md-4">
    <%= render 'scorebox', score: @current_average_score, score_range: @current_average_score_range %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="fa fa-clock-o fa-1x"></i>
      &nbsp; Last week
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'policybox', score: @week_score, score_range: @week_score_range, policies_check_list: @policies_check_list %>
      </div>
      <div class="col-xs-9">
      <%= render 'charts/latenightchart', chart_id: "latenight", title: 'Last week late night activity', yaxistitle: 'Hour of last actions', xaxis: @list_of_dates, data: @hour_of_last_event_by_date %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="fa fa-calendar fa-1x"></i>
      &nbsp; All time
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <%= render 'charts/scorechart', chart_id: "long_chart", title: 'All-time sustainability score', yaxistitle: 'Weekly sustainability score', xaxis: @list_of_weeks.to_a, data: @score_by_week %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<% end %>
