<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav-stacked" id="menu">

    <li id="reports-dashboard">
      <%= link_to company_path do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Company report
      <% end %>
    </li>

    <li id="reports-individual" data-no-turbolink>
      <%= link_to individual_report_path(2) do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>Individual reports
      <% end %>
    </li>

    <li id="reports-team">
      <%= link_to team_report_path(2) do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Team reports
      <% end %>
    </li>

    <li id="tasks-index">
      <%= link_to tasks_path do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-plus-square fa-stack-1x "></i></span>HR follow-up
      <% end %>
    </li>

    <li id="policies-index">
      <%= link_to policies_path do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-list fa-stack-1x "></i></span>Policies
      <% end %>
    </li>

    <li id="teams-index">
      <%= link_to teams_path do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-sitemap fa-stack-1x "></i></span>Company structure
      <% end %>
    </li>

    <li>
      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-database fa-stack-1x "></i></span>Data sources</a>
    </li>

    <li>
      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x "></i></span>Settings</a>
    </li>

    <li id="pages-employee_info">
      <%= link_to pages_employee_info_path do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-info fa-stack-1x "></i></span>Questions?
      <% end %>
    </li>
  </ul>
</div><!-- /#sidebar-wrapper -->

<% content_for :javascript do %>
<script>
  $(function() {
    $('#menu li a').click(function() {
     $('#menu li').removeClass('active');
     $(this).parent().addClass('active');
   });
  });

  $("#<%="#{params[:controller]}-#{params[:action]}".gsub('_', '-')%>").addClass('active');
</script>
<% end %>
