<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
  $(function () {
    $('#container').highcharts({
      chart: {
            type: 'column'
      },
      title: {
        text: 'Flaresights report',
        x: -20 //center
      },
      xAxis: {
        categories: <%= raw(@xaxis) %>
      },
      yAxis: {
        title: {
          text: 'Number of Slack / Github actions'
        },
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      series: [
      <% @agents.each do |a| %>
      {
        name: '<%= a.name %>',
        data: <%= @series[a] %>
      },
      <% end %>
      ]
    });
  });
</script>
<!--
<table>
  <thead>
    <td>Agent</td><td>Category</td><td>Date</td><td>Hour</td>
  </thead>
  <tbody>
    <% @events.each do |e|%>
    <tr><td><%=e.agent.name%></td><td><%=e.category%></td><td><%=e.date%></td><td><%=e.hour%></td></tr>
    <% end %>
  </tbody>
</table>


 -->
