<div class="row">
  <% @score_ranges_boxes_data.each do |e| %>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-<%= e["range_name"] %>">
      <div class="panel-heading" style="height: 75px;">
        <div class="row">
          <div class="col-xs-3">
            <% icon_name = e["range_name"] + '-icon.png' %>
            <%= image_tag icon_name, class: 'scoreboxicon' %>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= e["week_count"] %></div>
            <div>People in <b><%= e["range_name"] %></b> zone</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Previous week: <%= e["previous_week_count"] %></span>
        <span class="pull-right"><i class="fa fa-arrow-circle-<%= e["evolution"] %>"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
