<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel-title">
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".teams-table-modal"><i class="fa fa-info-circle fa-1x"></i></button>
      &nbsp; Enforcement of policies per team
    </div>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <th>Team</th>
      <th>Last week score</th>
      <% policies.each do |p| %>
      <th><%= p %></th>
      <% end %>
    </thead>
    <tbody>
      <% data.each do |id, team_data| %>
      <tr>
        <td><%= link_to team_data["team"]["name"], team_report_path(id) %></td>
        <td><div class="label label-<%= team_data["total score"]["range"]%>"><%= team_data["total score"]["value"]%>%</div></td>
        <% i = 0 %>
        <% team_data["policy scores"]["values"].each do |v| %>
        <td><div class="label label-<%= team_data["policy scores"]["ranges"][i]%>"><%=v%>%</div></td>
        <% i += 1 %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= render 'shared/infomodal', id: "teams-table-modal", message: "This chart shows for each team the share of employees that benefitted from the company sustainability policy." %>

