<%= render 'reports/individual/individual_header' %>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <%= render 'reports/individual/individual_checklist' %>
  </div>
  <div class="col-xs-12 col-md-9">
    <%= render 'reports/individual/individual_late_night' %>
  </div>
</div>

<%= render 'reports/individual/individual_ops_metrics' %>

<%= render 'reports/individual/individual_score_history' %>
