<div class="row">
  <div class="col-lg-10 col-md-8">
    <div class="page-header">
      <div class="individual-header">
        <div class="individual-header">
          <div class="picture-placeholder">
            <img src=<%= @agent.picture_url %> class="individual-report-avatar">
          </div>
          <div>
            <h1>
            <%= @agent.name %> <small><%= @agent.position%>, Team XYZ</small>
            </h1>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Select another employee <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @agents.each do |a|%>
            <li>
              <%= link_to a.name, individual_report_path(a.id) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4">
    <%= render 'scorebox', score: @current_moving_average_score, score_range: @current_moving_average_score_range %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".individual-score-modal"><i class="fa fa-info-circle fa-1x"></i></button>
      &nbsp; Last week
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'policybox', score: @current_weekly_score, score_range: @current_weekly_score_range, policies_check_list: @policies_check_list %>
      </div>
      <div class="col-xs-9">
        <%= render 'charts/latenightchart', chart_id: "latenight", title: 'Last week late night activity', yaxistitle: 'Hour of last actions', xaxis: @list_of_dates, data: @hour_of_last_event_by_date %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/infomodal', id: "individual-score-modal", message: "The list on the left shows whether company sustainability policies were successfully enforced last week for the employee, and the corresponding score based on policies weights. The chart on the right shows the latest action accomplished by the employee everyday, by category of action." %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".individual-all-time-modal"><i class="fa fa-info-circle fa-1x"></i></button>
      &nbsp; All time
    </div>
  </div>
  <div class="panel-body">
    <%= render 'charts/scorechart', chart_id: "long_chart", title: 'All-time sustainability score', yaxistitle: 'Weekly sustainability score', xaxis: @list_of_weeks, data: @scores_by_week %>
  </div>
</div>

<%= render 'shared/infomodal', id: "individual-all-time-modal", message: "This chart shows the weekly sustainability score for the employee, and the 4 weeks average score for longer-term scoring." %>

<% content_for :javascript do %>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<% end %>
