<div class="row">
  <div class="col-lg-10 col-md-8">
    <div class="page-header">
      <div class="individual-header">
        <div class="individual-header">
          <div>
            <h1>
              <% manager = @team.agents.where(position: "Manager").first %>
              <% manager.nil? ? (manager = "n.a.") : manager = manager.name %>
              <%= @team.name %> <small> (manager: <%= manager %>)</small>
            </h1>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Select another team<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @teams.each do |t|%>
            <li>
              <%= link_to t.name, team_report_path(t.id) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4">
    <h1><div class="label label-lg label-<%= @current_team_average_score["range"]%>">
        <small style="color: white">last: </small><%= @current_team_average_score["value"] %>%
</div></h1>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".average-members-modal"><i class="fa fa-info-circle fa-1x"></i></button>
      &nbsp; Last week team members scores
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <%@team_results.each do |k, v| %>
      <div class="col-xs-3">
        <% if (v["scores"]["last week"]["range"] == "danger" || v["scores"]["last week"]["range"] == "warning")%>
        <%= link_to individual_report_path(v["employee"]["id"]) do %>
        <%= render 'reports/team/individual_small_card',
        name: v["employee"]["name"],
        position: v["employee"]["position"],
        picture: v["employee"]["picture"],
        score: v["scores"]["last week"]["value"],
        range: v["scores"]["last week"]["range"]%>
        <% end %>
        <% else %>
        <%= render 'reports/team/individual_small_card',
        name: v["employee"]["name"],
        position: v["employee"]["position"],
        picture: v["employee"]["picture"],
        score: v["scores"]["last week"]["value"],
        range: v["scores"]["last week"]["range"]%>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/infomodal', id: "average-members-modal", message: "This box shows the individual score for all team tembers. You can consult the detailed individual reports for low-scoring members by clicking on their name." %>

<%= render 'reports/team/team_policies_gauges', policies: @policies_enforcement%>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".average-team-modal"><i class="fa fa-info-circle fa-1x"></i></button>
      &nbsp; Team score evolution
    </div>
  </div>
  <div class="panel-body">
  <%= render 'charts/scorechart', chart_id: "team_chart", title: 'Team sustainability score', yaxistitle: 'Weekly sustainability score', xaxis: @list_of_weeks, data: @team_score_by_week %>
  </div>
</div>

<%= render 'shared/infomodal', id: "average-team-modal", message: "This chart shows the evolution of weekly individual sustainability scores and the corresponding average for all team members." %>

<% content_for :javascript do %>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<% end %>
